* {
    margin: 0;
    padding: 0;
}
ul {
    position: relative;
    margin: 20px;
    width: 500px;
    border: 2px dashed #bbb;
}
li {
    margin: 5px;
    padding: 5px;
    width: 475px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: inset 0 0 3px #000;
    list-style: none;
    text-align: center;
    cursor: move;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.droppable_border {
    border: 2px solid #ff2b3b;
}
.droppable_background {
    background-color: #ff858e;
}
